.count-number {
  margin: 24px 12px;
}

.title1 {
  color: black;
  opacity: 0.8;
  font-size: 18px;
}

.value1 {
  margin-top: 12px;
}

.action1 {
  display: flex;
  margin-top: 12px;
}

.btn1_add,
.btn1_reduce,
.btn1_100,
.btn1_reset {
  border: 1px solid #ccc;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.btn1_add:hover,
.btn1_reduce:hover,
.btn1_100:hover,
.btn1_reset:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
