.demo4 {
  margin: 48px 12px;
}
  
.title4 {
  color: black;
  opacity: 0.8;
  font-size: 18px;
}

.value4 {
  margin-top: 12px;
}

.action4 {
  display:flex;
  margin-top: 12px;
}


.btn4_add, .btn4_reduce, .btn4_100, .btn4_reset {
  border: 1px solid #ccc;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.btn4_add:hover, .btn4_reduce:hover, .btn4_100:hover, .btn4_reset:hover {
    background-color: rgba(0, 0, 0, 0.1);
}