.resource-video-card-item {
  width: 590px;
  margin-top: 24px;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.resource-video-card-item:hover {
  .resource-video-card-hover-mask {
    visibility: visible;
  }
}

.resource-video-card-item > .resource-video-card-cover {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.resource-video-card-item
  > .resource-video-card-cover
  > .resource-video-card-cover-url {
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  position: relative;
  width: 590px;
  height: 236px;
  top: 0;
  left: 0;
  object-fit: fill;
}

/* 蒙层 */
.resource-video-card-item > .resource-video-card-hover-mask {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 590px;
  height: 236px;
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.resource-video-card-item
  > .resource-video-card-hover-mask
  > .resource-video-card-add-svg {
  width: 32px;
  height: 32px;
  position: absolute;
  left: calc(50% - 16px);
  top: calc(50% - 16px);
}

.resource-video-card-item > .resource-video-card-name {
  font-family: 'FZLanTingYuanS-M-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 12px;
  height: 20px;
  line-height: 20px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resource-video-card-item > .resource-video-card-author {
  font-family: 'FZLanTingYuanS-M-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
  height: 20px;
  line-height: 20px;
  color: #000000;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resource-video-card-item > .resource-video-card-play {
  font-family: 'FZLanTingYuanS-M-GB';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
  height: 20px;
  line-height: 20px;
  color: #000000;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.resource-video-card-play > .resource-video-card-play-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
