.menu {
  margin: 24px 12px;
}

.title1 {
  color: black;
  opacity: 0.8;
  font-size: 18px;
}

.menu-box {
  margin-top: 24px;
  width: 130px;
}

.menu-box > .menu-submenu-item {
  height: 40px;
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  color: #858585;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #4d4d4d;
    color: #ffffff !important;
  }
}
.menu-submenu-item-active {
  background-color: #4d4d4d;
  color: #ffffff !important;
}
.menu-submenu-item > .icon-image-menu-item {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
